USE [e_trade_data]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[COUNTRYID] [tinyint] NULL,
	[CITYID] [smallint] NULL,
	[TOWNID] [int] NULL,
	[DISTRICTID] [int] NULL,
	[POSTALCODE] [varchar](10) NULL,
	[ADDRESSTEXT] [varchar](500) NULL,
 CONSTRAINT [PK_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITIES]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIES](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[COUNTRYID] [tinyint] NULL,
	[CITY] [varchar](50) NULL,
 CONSTRAINT [PK_CITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COUNTRIES]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTRIES](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[COUNTRY] [varchar](50) NULL,
 CONSTRAINT [PK_COUNTRIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICTS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TOWNID] [int] NULL,
	[DISTRICT] [varchar](50) NULL,
 CONSTRAINT [PK_DISTRICTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICEDETAILS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICEDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[INVOICEID] [int] NULL,
	[ORDERDETAILID] [int] NULL,
	[ITEMID] [int] NULL,
	[AMOUNT] [int] NULL,
	[UNITPRICE] [decimal](18, 4) NULL,
	[LINETOTAL] [decimal](18, 4) NULL,
 CONSTRAINT [PK_INVOICEDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVOICES]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVOICES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERID] [int] NULL,
	[DATE_] [datetime] NULL,
	[ADDRESSID] [int] NULL,
	[CARGOFICHENO] [varchar](20) NULL,
	[TOTALPRICE] [decimal](18, 4) NULL,
 CONSTRAINT [PK_INVOICES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITEMS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEMS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ITEMCODE] [varchar](50) NULL,
	[ITEMNAME] [varchar](100) NULL,
	[UNITPRICE] [float] NULL,
	[CATEGORY1] [varchar](50) NULL,
	[CATEGORY2] [varchar](50) NULL,
	[CATEGORY3] [varchar](50) NULL,
	[CATEGORY4] [varchar](50) NULL,
	[BRAND] [varchar](50) NULL,
 CONSTRAINT [PK_ITEMS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERID] [int] NULL,
	[ITEMID] [int] NULL,
	[AMOUNT] [int] NULL,
	[UNITPRICE] [decimal](18, 4) NULL,
	[LINETOTAL] [decimal](18, 4) NULL,
 CONSTRAINT [PK_ORDERDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [int] NULL,
	[DATE_] [datetime] NULL,
	[TOTALPRICE] [decimal](18, 4) NULL,
	[STATUS_] [tinyint] NULL,
	[ADDRESSID] [int] NULL,
 CONSTRAINT [PK_ORDERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENTS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDERID] [int] NULL,
	[PAYMENTTYPE] [tinyint] NULL,
	[DATE_] [datetime] NULL,
	[ISOK] [bit] NULL,
	[APPROVECODE] [varchar](100) NULL,
	[PAYMENTTOTAL] [decimal](18, 4) NULL,
 CONSTRAINT [PK_PAYMENTS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TOWNS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOWNS](
	[ID] [int] NOT NULL,
	[CITYID] [smallint] NULL,
	[TOWN] [varchar](50) NULL,
 CONSTRAINT [PK_TOWNS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 12.09.2026 12:44:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME_] [varchar](50) NULL,
	[PASSWORD_] [varchar](50) NULL,
	[NAMESURNAME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[GENDER] [varchar](1) NULL,
	[BIRTHDATE] [date] NULL,
	[CREATEDDATE] [datetime] NULL,
	[TELNR1] [varchar](15) NULL,
	[TELNR2] [varchar](15) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_CITIES] FOREIGN KEY([CITYID])
REFERENCES [dbo].[CITIES] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_CITIES]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_COUNTRIES] FOREIGN KEY([COUNTRYID])
REFERENCES [dbo].[COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_COUNTRIES]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_DISTRICTS] FOREIGN KEY([DISTRICTID])
REFERENCES [dbo].[DISTRICTS] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_DISTRICTS]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_TOWNS] FOREIGN KEY([TOWNID])
REFERENCES [dbo].[TOWNS] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_TOWNS]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH NOCHECK ADD  CONSTRAINT [FK_ADDRESS_USERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_ADDRESS_USERS]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_COUNTRIES] FOREIGN KEY([COUNTRYID])
REFERENCES [dbo].[COUNTRIES] ([ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_CITIES_COUNTRIES]
GO
ALTER TABLE [dbo].[DISTRICTS]  WITH CHECK ADD  CONSTRAINT [FK_DISTRICTS_TOWNS] FOREIGN KEY([TOWNID])
REFERENCES [dbo].[TOWNS] ([ID])
GO
ALTER TABLE [dbo].[DISTRICTS] CHECK CONSTRAINT [FK_DISTRICTS_TOWNS]
GO
ALTER TABLE [dbo].[INVOICEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICEDETAILS_INVOICES] FOREIGN KEY([INVOICEID])
REFERENCES [dbo].[INVOICES] ([ID])
GO
ALTER TABLE [dbo].[INVOICEDETAILS] CHECK CONSTRAINT [FK_INVOICEDETAILS_INVOICES]
GO
ALTER TABLE [dbo].[INVOICEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICEDETAILS_ITEMS] FOREIGN KEY([ITEMID])
REFERENCES [dbo].[ITEMS] ([ID])
GO
ALTER TABLE [dbo].[INVOICEDETAILS] CHECK CONSTRAINT [FK_INVOICEDETAILS_ITEMS]
GO
ALTER TABLE [dbo].[INVOICEDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_INVOICEDETAILS_ORDERDETAILS] FOREIGN KEY([ORDERDETAILID])
REFERENCES [dbo].[ORDERDETAILS] ([ID])
GO
ALTER TABLE [dbo].[INVOICEDETAILS] CHECK CONSTRAINT [FK_INVOICEDETAILS_ORDERDETAILS]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_INVOICES_ADDRESS] FOREIGN KEY([ADDRESSID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_INVOICES_ADDRESS]
GO
ALTER TABLE [dbo].[INVOICES]  WITH CHECK ADD  CONSTRAINT [FK_INVOICES_ORDERS] FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[INVOICES] CHECK CONSTRAINT [FK_INVOICES_ORDERS]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAILS_ITEMS] FOREIGN KEY([ITEMID])
REFERENCES [dbo].[ITEMS] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [FK_ORDERDETAILS_ITEMS]
GO
ALTER TABLE [dbo].[ORDERDETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERDETAILS_ORDERS] FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAILS] CHECK CONSTRAINT [FK_ORDERDETAILS_ORDERS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_ADDRESS] FOREIGN KEY([ADDRESSID])
REFERENCES [dbo].[ADDRESS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_ADDRESS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_USERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_USERS]
GO
ALTER TABLE [dbo].[PAYMENTS]  WITH CHECK ADD  CONSTRAINT [FK_PAYMENTS_ORDERS] FOREIGN KEY([ORDERID])
REFERENCES [dbo].[ORDERS] ([ID])
GO
ALTER TABLE [dbo].[PAYMENTS] CHECK CONSTRAINT [FK_PAYMENTS_ORDERS]
GO
ALTER TABLE [dbo].[TOWNS]  WITH CHECK ADD  CONSTRAINT [FK_TOWNS_CITIES] FOREIGN KEY([CITYID])
REFERENCES [dbo].[CITIES] ([ID])
GO
ALTER TABLE [dbo].[TOWNS] CHECK CONSTRAINT [FK_TOWNS_CITIES]
GO
